<div id="container" class="clearfix">

  <!-- BEGIN #access --> 
  <div class="access">
    <dl class="a-fontsize">
      <dt>{% trans %}Font size{% endtrans %}:</dt>
      <dd><a href="#" rel="fontsize-small" class="a-fontsize-small"></a></dd>
      <dd><a rel="fontsize-normal" href="#" class="a-fontsize-normal"></a></dd>
      <dd><a href="#" rel="fontsize-big" class="a-fontsize-big"></a></dd>
    </dl>
    <dl class="a-colors">
      <dt>{% trans %}Site colors{% endtrans %}:</dt>
      <dd><a href="#" rel="color1" class="a-color1"></a></dd>
      <dd><a href="#" rel="color2" class="a-color2"></a></dd>
      <dd><a href="#" rel="color3" class="a-color3"></a></dd>
    </dl>
    <dl class="a-images">
      <dt>{% trans %}Images{% endtrans %}:</dt>
      <dd><a rel="imgcolor" href="#" class="a-imgcolor"></a></dd>
      <dd><a rel="imggray" href="#" class="a-imggray"></a></dd>
      <dd><a rel="imgnone" href="#" class="a-imgnone"></a></dd>
    </dl>
    <dl class="a-kerning">
      <dt>{% trans %}Kerning{% endtrans %}:</dt>
      <dd><a rel="kernstd" href="#" class="a-kernstd"></a></dd>
      <dd><a rel="kernmid" href="#" class="a-kernmid"></a></dd>
      <dd><a rel="kernbig" href="#" class="a-kernbig"></a></dd>
    </dl>
  </div>
  <!-- END #access -->

  <header id="header" role="banner" class="clearfix">
   {{ page.header }}
  </header> <!-- /#header -->

  <!--- Start: Navigation -->
  <div class="main_navigation">
    {{ page.navigation }}
  </div>
  <!---End: Navigation -->

  <div id="main-container">

		{% if page.sidebar_first %}
		  <aside id="sidebar-first" role="complementary" class="sidebar clearfix">
		  {{ page.sidebar_first}}
		  </aside>
		{% endif %}

		<section id="main" role="main" class="clearfix">
		   {{ page.content }}
		</section> <!-- /#main -->

		{% if page.sidebar_second %}
		  <aside id="sidebar-second" role="complementary" class="sidebar clearfix">
		  {{ page.sidebar_second}}
		  </aside>
		{% endif %}

  </div>
  {% if page.footer_page_nav %}
    <section id="footer-page-nav">
      {{ page.footer_page_nav }}
    </section>
  {% endif %}
  {% if page.footer %}
    <footer id="footer" role="contentinfo" class="clearfix">
      {{ page.footer }}
    </footer>
  {% endif %}

</div> <!-- /#container -->
